nameOverride: ""
fullnameOverride: "quarkus"

namespace:
  name: playground

quarkus:
  replicaCount: 1

  image:
    repository: quarkus/quarkus-playground
    tag: "1.0"
    pullPolicy: IfNotPresent

  service:
    type: NodePort
    port: 8080
    targetPort: 8080

  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "500m"
