nameOverride: ""
fullnameOverride: ""

namespace:
  create: false
  name: playground

mongodb:
  # Percona MongoDB cluster name
  clusterName: mongo-cluster
  clusterServiceName: mongo-cluster-psmdb-d-rs0
  # Secret name is derived as: <clusterName>-secrets
  # For sharded cluster, connects to mongos service: <clusterName>-mongos
  authDatabase: admin

replicaCount: 1

image:
  repository: quarkus/quarkus-playground
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080
  targetPort: 8080

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"
