nameOverride: ""
fullnameOverride: "quarkus"

quarkus:
  replicaCount: 1

  image:
    repository: quarkus/quarkus-playground
    tag: "1.0"
    pullPolicy: IfNotPresent

  service:
    type: NodePort
    port: 8080
    targetPort: 8080

  resources:
    requests:
      memory: "1Gi"
      cpu: "1000m"
    limits:
      memory: "2Gi"
      cpu: "2000m"
