apiVersion: v1
kind: Service
metadata:
  name: local-registry
  namespace: {{ .Release.Namespace }}
  labels:
    app: local-registry
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5000
      protocol: TCP
  selector:
    app: local-registry
